<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Users</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <!-- <%=JSON.stringify(userEdit) %> -->
    <div class="topnav">
        <a href="/">Home</a>
        <a href="/create_user">Create Users</a>
        <a href="/list">List User</a>
        <a href="/data">DATA</a>
    </div>
    <div class="form">
        <form action="/update-users" method="post"> <!--Action như routes,khi nhấn nút dẫn tới đg dẫn action-->
            <fieldset>

                <legend>Update users:</legend>
                <div class="input-gruop non">
                    <label>ID: </label>
                    <input type="text" name="ID" value="<%=userEdit.id %>" />
                    <!--lệnh name dùng phân biệt các dữ liệu khác nhau-->
                </div>
                <div class="input-group">
                    <label>Tên đăng nhập: </label>
                    <input type="text" name="username" value="<%=userEdit.username %>" />
                    <!--lệnh name dùng phân biệt các dữ liệu khác nhau-->
                </div>
                <div class="input-group">
                    <label>Email: </label>
                    <input type="text" name="Email" value="<%=userEdit.email %>" />
                </div>
                <div class="input-group">
                    <label>Mật khẩu: </label>
                    <input type="text" name="password" value="<%=userEdit.password %>" />
                </div>
                <div>
                    <button> Update </button>
                </div>

            </fieldset>

        </form>
    </div>
</body>

</html>